@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-surface-dim text-white font-body m-0 p-0;
  }
}

.glass-panel {
  background: rgba(26, 25, 25, 0.4);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
